openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: >-
    Dokumen API Cloud Function Aplikasi E-Dumas Sukasari
  termsOfService: https://github.com/e-dumas-sukasari/swagger
  contact:
    email: miqbalr18@gmail.com
  license:
    name: edumasbackend Package
    url: https://pkg.go.dev/github.com/e-dumas-sukasari/edumasbackend
  version: 0.1.3
externalDocs:
  description: Website
  url: https://e-dumas-sukasari.my.id/
servers:
  - url: https://asia-southeast2-gisiqbal.cloudfunctions.net
tags:
paths:
  /User-RegisterNew:
    post:
      tags:
        - Register User
      summary: Register User Account
      description: Add new User data
      operationId: create User
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUser'
        '405':
          description: Invalid input

  /User-Loginnew:
    post:
      tags:
        - Login User 
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Auth"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "405":
          description: Invalid input
  
  /Admin-Login:
    post:
      tags:
        - Login Admin
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthAdmin"
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "405":
          description: Invalid input

  /GetAll-Reports:
    get:
      tags:
        - Data Report
      summary: Get Data Report
      description: List Data Report
      operationId: GetAllDataReport
      responses:
        "200":
          description: successful operation Report
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CreateReport"
        "400":
          description: Invalid status value
      security:
        - Login:
          - write:apiKey
          - read:apiKey

  /Insert-Report:
    post:
      tags:
        - Report
      summary: Create Report Data
      description: Add new Report data
      operationId: create Report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateReport" # Gunakan skema yang sesuai di sini
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CreateReport"
        "400":
          description: Invalid input or request body
      security:
        - Login:
          - write:apiKey
          - read:apiKey

  /Update-Report:
    put:
      tags:
        - Report
      summary: Updated Report Data berdasarkan nik
      description: Updated Report data
      operationId: Updated Report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Reports" # Gunakan skema yang sesuai di sini
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CreateReport"
        "400":
          description: Invalid input or request body
      security:
        - Login:
          - write:apiKey
          - read:apiKey

  /Delete-Report:
    delete:
      tags:
        - Report
      summary: delete Report Data berdasarkan nik
      description: delete Report data
      operationId: delete Report
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteReport" # Gunakan skema yang sesuai di sini
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/CreateReport"
        "400":
          description: Invalid input or request body
      security:
        - Login:
          - write:apiKey
          - read:apiKey



components:
  schemas:
    Auth:
      type: object
      properties:
        username:
          type: string
          example: edumasser
        password:
          type: string
          example: edumasser

    AuthAdmin:
      type: object
      properties:
        username:
          type: string
          example: edumasmin
        password:
          type: string
          example: edumasmin

    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: Selamat Datang User
        token:
          type: string
          example: alagabres

    GetDataReport:
      type: object
      properties:
        nik:
          type: int
          example: 123123
        nama:
          type: string
          example: ujang
        title:
          type: string
          example: testtitle
        description:
          type: string
          example: testdescription
        dateOccurred:
          type: string
          example: testdateOccurred 
        image:
          type: string
          example: testimage
        status:
          type: string
          example: teststatus


    CreateUser:
      type: object
      properties:
        username:
          type: string
          example: edumasser
        password:
          type: string
          example: edumasser
        notelp:
          type: string
          example: 089791212121
        role:
          type: string
          example: user

    CreateReport:
      type: object
      properties:
        nik:
          type: int
          example: 3273093123123123
        nama:
          type: string
          example: iqbal
        title:
          type: string
          example: pencurian
        description:
          type: string
          example: terjadi pencurian motor di kosan sarijadi
        dateOccured:
          type: string
          example: 18-02-2024
        image:
          type: string
          example: tesgambar
        status:
          type: string
          example: proses

    DeleteReport:
      type: object
      properties:
        nik:
          type: int
          example: 3273093123123123
        nama:
          type: string
          example: iqbal ganteng
        title:
          type: string
          example: pencurian motor
        description:
          type: string
          example: terjadi pencurian motor di kosan sarijadi
        dateOccured:
          type: string
          example: 19-02-2024
        image:
          type: string
          example: tesgambar
        status:
          type: string
          example: proses

    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Auth"

    AdminArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AuthResponse"
  securitySchemes:
    Login:
      type: apiKey
      name: Login
      in: header
